[submodule "hugo-developer-portfolio"]
	path = hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
[submodule "themes/hugo-blox-builder"]
	path = themes/hugo-blox-builder
	url = https://github.com/HugoBlox/hugo-blox-builder
[submodule "themes/themes/ananke"]
	path = themes/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/themes/hugo-coder"]
	path = themes/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "congo"]
	path = congo
	url = https://github.com/jpanther/congo
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
